#root {
  margin: 0;
  padding: 0;
}

main {
  height: 90vh;
  width: 90vw;
  border-radius: 10px;
  margin: 0;
  max-height: 500px;
  max-width: 600px;
  background-color: #F5F5F5;
  display: flex;
  place-items: center;
  flex-direction: column;
  padding: 0 25px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 1rem;
  text-align: center;
  margin: 0;
  font-weight: 400;
}

button {
  background-color: #5035FF;
  height: 50px;
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  /*transition: box-shadow 0.4s ease;*/
}


button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.main--text {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  display: grid;
  margin-block: 20px;
  grid-template: 60px /auto auto auto auto auto;
  gap: 20px;
}

.container > div {
background-color: rgba(255, 255, 255, 0.8);
padding: 0;
}

.die-face {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 5px;
  box-shadow: 0 5px 5px lightblue;
  cursor: pointer;
}

.die-face > img {
  display: block;
  width: 60px;
  height: 60px;
}

.die-text {
  font-size: 2rem;
  font-weight: bold;
}

.roll-button {
  font-size: large;
}

.rolls-sec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}