:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #0B2434;
}

body {
  background-color: #0B2434;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
}
